@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --cor-letra: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: rgba(0, 47, 82, 1);
    --fonte-principal: "poppins";
    --fonte-secundaria: "Josefin Sans";
    --preto: #000000;
    --cinza: rgba(71, 70, 70, 1);
    --cinza2: rgba(133, 133, 133, 1);


}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}