.carrossel__titulo{
    background: var(--branco);
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 0 8px 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 8px 0;
}

.card{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: var(--branco);
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
}

.card__descrição{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.descrição__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.descrição__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 8px 0;
}

.descrição__texto{
    font-size: 14px;
}

.card__botões{
    display: flex;
    justify-content: space-between;
}

.botões{
    display: flex;
}

.botões__item {
    margin: 0 8px;
}

.botões__ancora{
    background-color: var(--laranja);
    padding: 16px 35px;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

.estrelas{
    display: flex;
    margin-bottom: 8px;
}

.descrição__nome-da-autora{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 16px 0;
}

.descrição__imagem-2{
    margin-bottom: 50px;
}

.botões__ancora:active {
    background-color: var(--azul);
    }

@media screen and (min-width: 1024px){

    .carrossel__titulo{
        font-size: 26px;
    }

    .swiper{
        width:60%;
    }

    .swiper-pagination{
        margin: 32px 0 48px 0;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top:60%;
    }

    .card{
        width: 40%;
        margin: 32px auto;
    }
    
}

@media screen and (min-width: 1728px) {

    .carrossel__conteiner{
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper{
        width: 50%;
    }

    .swiper-pagination{
        margin: 1em 0;
    }

    .card{
        width: 60%;
        margin-left: 3em;
    }

    .descrição{
        margin-right: 1em;
    }

    .descrição__titulo{
        font-size: 32px;
    }

    .descrição__texto{
        font-size: 16px;
    }
    
}